@import url(../DefaultStyle.css);

.login{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
}

.login>h2{
    margin: 16px 0 0px 0;
    color: var(--purple1);
    font-weight: 400;
}

.login>img{
    width: 152px;
}