@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.inputpassword{
    display: flex;
    flex-direction: column;
}

.inputpassword>input{
    height: 48px;
    border: 1px solid #E5E5EA;
    padding: 14px;
    font-size: 14px;
    max-width: 360px;
    border-radius: 8px;
    
}

.inputpassword>input[type="password"]:focus {
    outline: none;
    border-color: #440986; 
    background-color: #f0f8ff; 
}

.accessbutton{
    color: #FEFEFE;
    height: 48px;
    border: none;
    padding: 8px 16px;
    max-width: 360px;
    border-radius: 8px;
    background-color: #070707;
}